<%= form_with(model: event, local: true) do |form| %>
  <% if event.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(event.errors.count, "error") %> prohibited this event from being saved:</h2>

      <ul>
      <% event.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :title %>
    <%= form.text_field :title, id: :event_title %>
  </div>

  <div class="field">
    <%= form.label :summary %>
    <%= form.text_field :summary, id: :event_summary %>
  </div>

  <div class="field">
    <%= form.label :start_datetime %>
    <%= form.datetime_select :start_datetime, id: :event_start_datetime %>
  </div>

  <div class="field">
    <%= form.label :end_datetime %>
    <%= form.datetime_select :end_datetime, id: :event_end_datetime %>
  </div>

  <div class="field">
    <%= form.label :detail %>
    <%= form.text_area :detail, id: :event_detail %>
  </div>

  <div class="field">
    <%= form.label :capacity %>
    <%= form.number_field :capacity, id: :event_capacity %>
  </div>

  <div class="field">
    <%= form.label :address %>
    <%= form.text_field :address, id: :event_address %>
  </div>

  <div class="field">
    <%= form.label :image %>
    <%= form.text_field :image, id: :event_image %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.text_field :user_id, id: :event_user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
