<div class="header">
  <div class="site-title">Miyapass</div>
</div>

<p id="notice"><%= notice %></p>

<section id="recent-events">
  <div class="width-keeper">
    <h2 class="list-title">新着イベント</h2>
    <div class="event-list-inner">
    <% @events.each do |event| %>
      <div class="event-card">
        <div class="thumb-image-cover">
	  <div class="thumb-image">
	    <%= link_to image_tag('no-image.png'), event %>
	  </div>
          <span class="start-date"><%= event.start_datetime.strftime('%m月%d日') %></span>
        </div>
        <div class="event-content">
          <p class="event-title"><%= link_to event.title, event %></p>
          <p class="event-summary"><%= event.summary %></p>
          <p>
            <span class="event-owner">●<%= link_to event.user.name, user_path(event.user) %></span>
            <span class="event-address">◆<%= event.address %></span>
          </p>
          <span class="event-capacity">0/<%= event.capacity %>人</span>
        </div> 
      </div>
    <% end %>
    </div>
  </div>
</section>
<br>
<br>
<br>

<div class="new-event">
  <%= link_to '新しいイベントを作る', new_event_path %>
</div>
